@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {
    .first_screen .banner h1 {
        padding-top: 50%;
    }
}
@media only screen and (max-width: 420px) {
    .first_screen.index {
        background-image: url("../images/first_sreen_mobile_index.jpg");
        height: 100vh;
        background-size: cover;
    }

    .first_screen .head .nav_bar .menu.name {
        display: none;
    }

    .first_screen .head {
        background-color: rgba(37, 48, 54, 0.3);
        position: fixed;
        width: 100%;
    }

    .first_screen .head .nav_bar{
        background-color: rgba(37, 48, 54, 0.6);
    }

    .fa-bars {
        font-size: 24px;
        line-height: 24px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .first_screen .banner h1 {
        padding-top: 80%;
        font-size: 50px;
    }

    .icon-down-klik {
        display: block;
    }

    .icon-down {
        top: 60%;
    }

    .about, .last_post, .worker_all, .show_work {
        margin-bottom: 80px;
    }

    .paragraph {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    .show_work {
        display: block;
    }

    .show_work .your_work {
        width: 100%;
        border: none;
    }

    .worker_all .worker {
        display: block;
        width: 100%;
    }

    .worker_all .worker .worker_dat {
        margin: 15px;
    }

    .worker_all .worker .worker_data, .worker_all .worker .worker_data .workman, .worker_all .worker .worker_data img {
        max-width: 100%;
    }

    .last_post .post {
        display: block;
        margin: 15px 15px 35px 15px;
        height: 100%;
    }

    .last_post .post .post_picture, .last_post .post .post_info {
        width: 100%;
    }

    .last_post .post_info {
        overflow: inherit;
    }

    .contact {
        margin: 15px;
    }

    .contact .map{
        max-width: 100%;
    }

    .contact .contact_info {
        padding-bottom: 15px;
    }

    .contact .contact_info .contact_title {
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 10px;
    }

    .contact .contact_info .contact_details {
        font-size: 13px;
        line-height: 23px;
    }

    .contact .contact_info .location, .contact .contact_info .fax, .contact .contact_info .phone, .contact .contact_info .contact_email {
        width: 170px;
        padding: 0 15px 0 15px;
    }

    footer .footer {
        display: block;
        line-height: 35px;
        padding: 20px 5px 20px 5px;
    }
}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}