*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first_screen {
    background-image: url("../images/first_fon.jpg");
    height: 100vh;
    background-size: cover;
}
.first_screen .head {
    max-width: 1185px;
    margin: auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.head .nav_bar .menu {
    text-transform: uppercase;
    font: 16px/42px 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.head .nav_bar .icon-menu {
    display: inline-block;
    height: 2px;
    width: 18px;
    color: white;
    margin-left: 4px;
}

.first_screen .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.first_screen .banner h1 {
    color: white;
    text-align: center;
    font: 80px 'Open Sans', sans-serif;
    font-weight: 300;
  }

.first_screen .banner .banner_italic {
    font-style: italic;
}

.about {
    max-width: 770px;
    margin: auto;
    padding-top: 81px;
    padding-bottom: 163px;
}

h3 {
    color: #d4af37;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #021725;
    font: 44px 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;

}

.paragraph {
    color: #021725;
    font: 18px 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 51px;
    text-align: center;
}

.about .read_more {
    text-decoration: none;
    color: #021725;
    font: 14px/57px 'Open Sans', sans-serif;
    font-weight: 300;
    max-width: 238px;
    display: block;
    margin: auto;
    border: #021725 solid 1px;
    text-align: center;
}

.about .read_more:hover {
    background-color: #eeeeee;
}

.work {
    text-align: center;
}







.workers{
    max-width: 770px;
    margin: auto;
}

.workers .worker_photo {
    max-width: 746px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.workers .worker_photo .worker_data {
    max-width: 270px;
    background-color: #f9f9f9;
}

.worker_photo .position {
    color: #d4af37;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.worker_photo .name {
    color: #021725;
    font: 21px 'Open Sans', sans-serif;
    font-weight: 400;
}

.worker_photo .description {
    color: #021725;
    font: 13px/24px 'Open Sans', sans-serif;
    font-weight: 300;
}

.worker_photo .workman {
    padding: 15px;
}






footer {
    background-color: #eeeeee;
 }

footer .footer {
    max-width: 770px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font: 16px/93px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #505d68;
}

