*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first_screen.index {
     background-image: url("../images/first_fon.jpg");
     height: 100vh;
     background-size: cover;
 }

.first_screen .head {
    max-width: 1185px;
    margin: auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.first_screen .head .nav_bar{
    margin-right: 20px;
}

.first_screen .head .nav_bar .menu {
    text-transform: uppercase;
    font: 16px/42px 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.first_screen .head .nav_bar .icon-menu {
    display: inline-block;
    height: 2px;
    width: 18px;
    background-color: white;
    margin-left: 4px;
    margin-bottom: 10px;
    position: absolute;
}

.first_screen .head .nav_bar .menu-top {
    top: 31px;
}
.first_screen .head .nav_bar .menu-middle {
    top: 35px;
}
.first_screen .head .nav_bar .menu-bottom {
    top: 39px;
}

.first_screen .banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_screen .banner h1 {
    color: white;
    text-align: center;
    font: 80px/80px 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 15%;
  }

.first_screen .banner .banner_italic {
    font-style: italic;
}

.about {
    max-width: 770px;
    margin: auto;
    padding-top: 81px;
    padding-bottom: 163px;
}

h3 {
    color: #d4af37;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: #021725;
    font: 44px 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;

}

.paragraph {
    color: #021725;
    font: 18px/30px 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 51px;
    text-align: center;
}

.button {
    text-decoration: none;
    color: #021725;
    font: 14px/55px 'Open Sans', sans-serif;
    font-weight: 300;
    width: 238px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    margin: auto;
    border: #021725 solid 1px;
    text-align: center;
}

.button:hover {
    background-color: #eeeeee;
}

.work {
    text-align: center;
   }

.show_work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 163px;
}

.show_work .your_work {
    width: 25%;
    border: 3px solid white;
}
.show_work .your_work img {
    width: 100%;
    height: 100%;
}

.worker_all{
    max-width: 770px;
    margin: auto;
    margin-bottom: 160px;
}

.worker_all .worker {
    max-width: 770px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.worker_all .worker .worker_data {
    max-width: 270px;
    background-color: #f9f9f9;
    margin: 5px;
    padding-bottom: 35px;
}

.worker_all .worker .worker_data .img_workman {
    margin-bottom: 10px;
}
.worker_all .worker img {
    width: 100%;
    max-width: 254px;
}

.worker_all .worker .position {
    color: #d4af37;
    font: 13px/13px 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.worker_all .worker .name {
    color: #021725;
    font: 21px/21px 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
}

.worker_all .worker .description {
    color: #021725;
    font: 13px/24px 'Open Sans', sans-serif;
    font-weight: 300;
}

.worker_all .worker .workman {
    padding: 15px;
    max-width: 254px;
}

.last_post {
    max-width: 770px;
    margin: auto;
    margin-bottom: 160px;
}

.last_post .post {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    height: 390px;
    margin-bottom: 60px;
}

.last_post .post .post_picture{
    width: 50%;
}


.last_post .post img {
    width: 100%;
}

.last_post .post_info {
    padding: 40px 40px  40px 40px;
    color: #505d68;
    width: 50%;
    max-height: 390px;
    overflow: auto;
}

.last_post .post_info .post_data {
    text-transform: uppercase;
    font: 13px/13px 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.last_post .post_info .post_title {
    font: 30px/30px 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}

.last_post .post_info .post_description {
    font: 16px/28px 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 60px;
}

.read_post {
    text-decoration: none;
    font: 14px/14px 'Open Sans', sans-serif;
    font-weight: 300;
    border: 1px solid #021725;
    color: #021725;
    padding: 14px 47px 14px 47px;
}

.read_post:hover {
    background-color: #eeeeee;
}

.contact {
    max-width: 770px;
    margin: auto;
    margin-bottom: 160px;
    background-color: #f9f9f9;
}

.contact .contact_info {
    display: flex;
    text-align: center;
    color: #505d68;
}

.contact .contact_info .location, .contact_info .phone {
    width: 50%;
    padding: 50px 70px 0 70px;
}

.contact .contact_info .contact_title {
    font: 13px/13px 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
}


.contact .contact_info .contact_details {
    font: 19px/35px 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 45px;
}

.contact .contact_info .contact_details.first{
    margin-bottom: 95px;
}

footer {
    background-color: #eeeeee;
 }

footer .footer {
    max-width: 770px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font: 16px/93px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #505d68;
}

/*START ABOUT*/

.first_screen.about_page {
    background-image: url("../images/about_first_screen.jpg");
    height: 100vh;
    background-size: cover;
    margin-bottom: 160px;
}

.text_about {
    max-width: 770px;
    margin: auto;
    text-align: center;
    font: 18px/30px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #021725;
    margin-bottom: 160px;
}

.services {
    width: 100%;
    display: flex;
    background-color: #f9f9f9;
}

.services .services_page {
    width: 50%;
    height: 500px;
}

.services .services_page img {
    width: 100%;
    height: 500px;
}

.services .services_info {
    padding-bottom: 50px;
    width: 50%;
    height: 500px;
    overflow: auto;
}

.services .services_info .services_title {
    color: #505d68;
    font: 45px/45px 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    padding: 40px 40px 0 40px;
}

.services .services_info .services_details {
    display: flex;
    margin-top: 90px;
}

.services .services_info .services_text, .services .services_info .services_list {
    width: 50%;
    font: 18px/30px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #505d68;
    padding-left: 55px;
    display: flex;
    align-items: flex-end;
}

.services .services_info .services_list {
    padding-right: 55px;
}

.services .services_info .services_text {
    padding-right: 160px;
}

.services .services_info .services_list li {
    list-style: none;
}

.services .services_info .services_list li:before {
    content: "-";
    margin-right: 12px;
}

/*START CONTACT*/

.first_screen.contact_page {
    background-image: url("../images/contact_first_page.jpg");
    height: 400px;
    background-size: cover;
    margin-bottom: 160px;
}

.contact_sheet1, .contact_sheet2 {
    display: flex;
    width: 100%;
}

.contact.contact_details {
    margin-top: 80px;
    margin-bottom: 75px;
}

.contact .address {
    background-color: #d3b000;
    border-right: 6px solid white;
}

.contact_sheet1 .address .address_line:before, .contact_sheet2 .number .number_line:before {
    content: "";
    display: block;
    height: 3px;
    width: 31px;
    background-color: white;
    margin-bottom: 45px;
}

.contact .number {
    background-color: #212121;
}

.contact .address, .contact .number {
    width: 40%;
    color: white;
    font: 20px/35px 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 30px;
}

.contact .contact_sheet1 img{
    width: 100%;
    height: 300px;
}

.contact .contact_sheet1 .contact_img {
    width: 60%;
    height: 300px;
}

.contact_sheet2 .description {
    font: 20px/35px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #323d43;
    padding: 45px;
    width: 60%;
}

.button.email {
    margin-bottom: 85px;
}

/*START WORK*/

.first_screen.work_page {
    background-image: url("../images/work_first_page.jpg");
    height: 400px;
    background-size: cover;
    margin-bottom: 160px;
}

.paragraph_work {
    display: block;
    max-width: 770px;
    margin: auto;
    margin-bottom: 135px;
}

.work.show_work {
    margin-bottom: 5px;
}

/*START BLOG*/

.first_screen.blog_page {
    background-image: url("../images/blog_first_page.jpg");
    height: 400px;
    background-size: cover;
    margin-bottom: 75px;
}

.blog_all {
    max-width: 1150px;
    margin: auto;
    background-color: #f9f9f9;
    margin-bottom: 80px;
}

.blog_all .blog {
    display: flex;
    padding: 55px;
    height: 100%;
}

.blog .blog_post{
    max-width: 665px;
    margin-right: 55px;
}

.blog .resent_post{
    max-width: 300px;
}

.blog .blog_post .post1, .blog .blog_post .post2{
    background-color: white;
    padding: 30px;
    padding-bottom: 45px;

}
.blog .blog_post .post1 {
    margin-bottom: 51px;
}

.blog .blog_post img {
    width: 100%;
    margin-bottom: 30px;
}

.blog .blog_post .post_title{
    font: 30px/30px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    margin-bottom: 25px;
}

.blog .blog_post .post_data {
    font: 15px/15px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #d3b000;
    margin-bottom: 30px;
}

.blog .blog_post .post_description {
    font: 16px/25px 'Cardo', serif;
    font-weight: 400;
    color: #021725;
    margin-bottom: 70px;
}

.blog .resent_post {
    max-width: 350px;
    width: 100%;
}

.resent_post .details {
    font: 23px/23px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #021725;
    padding-bottom: 15px;
    border-bottom: 3px solid #d3b000;
    width: 100%;
    margin-bottom: 30px;
}

.resent_post .info {
    font: 16px/25px 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #021725;
    margin-bottom: 50px;
}

.blog .resent_post .your_work img{
    max-width: 350px;
    width: 100%;
}

.blog_all .blog_button {
   padding-bottom: 65px;
}

/*START PROJECT*/

.first_screen.project_page {
    background-image: url("../images/project_first_page.jpg");
    height: 100vh;
    background-size: cover;
}

.project_all {
    max-width: 1150px;
    margin: auto;
}

.project {
    background-color: #f9f9f9;
    margin-bottom: 100px;
    margin-top: 80px;
    padding: 65px;
    display: flex;
}

.project .project_info {
    max-width: 665px;
    width: 100%;
    padding-right: 55px;
}

.project .project_miniature {
    max-width: 350px;
    width: 100%;
}

.project_info h1 {
    font: 45px/45px 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000000;
    margin-bottom: 130px;
    margin-top: 20px;
}

.project_info p {
    font: 20px/30px 'Cardo', serif;
    font-weight: 400;
    color: #000000;
    margin-bottom: 100px;
}

.project .project_img img {
    max-width: 665px;
    width: 100%;
}

.project .project_img:not(:last-of-type) {
    margin-bottom: 20px;
}

.project_miniature .your_work img{
    width: 100%;
}

.project_all .social_network {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.project_all .social_network .button {
    border-color: #a1a1a1;
    text-transform: uppercase;
    color: #a1a1a1;
}